<!DOCTYPE html>

<html>
  <head>
    <title> AddressBook </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="addressbook.css">

  </head>

  <body>
  <h1> FRM </h1>
  <div id="app"></div>

  <script type = "text/javascript" src="addressbook.js"> </script>
  <script type = "text/javascript" src="seedContacts.js"> </script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>

    <script type = "text/template" id="contact-template">

    <tr><td><%= firstName %> <%= lastName %></td></tr>


  <script src="js/bundle.js"</script>
  </body>
</html>
